* {
  margin: 0px;
  padding: 0px;
}
html,body {
  height: 100%;
}
body {
  background-color: black;
  background-image: url("images/background.png");
  background-attachment: fixed;
}
h1 {
  display: block;
  font-family: 'Black Han Sans', sans-serif;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: 100;
  font-size: 48px;
  color: #2F343D;
  text-shadow: 0px 0px 3px black;
}
.intro {
  display: block;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
  font-family: 'Jua', sans-serif;
  font-size: 25px;
  color: white;
  font-weight: 200;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: white;
}
body::-webkit-scrollbar-track {
  background-color: grey;
  box-shadow: 0px 0px 5px black inset;
}
body::-webkit-scrollbar-corner {
  display: none;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes blink {
  from {opacity: 0.6;}
  to {opacity: 1;}
}
@keyframes h1LeftIntro {
  from {text-shadow: 0px 0px 3px black;}
  to {text-shadow: 0px 0px 3px #2EFEF7;}
}
@keyframes h1RightIntro {
  from {text-shadow: 0px 0px 3px black;}
  to {text-shadow: 0px 0px 3px #F7D358;}
}
@keyframes h1LeftIntro{
  0% {color: #2F343D; text-shadow: black;}
  50% {color: #2F343D; text-shadow: black;}
  60% {color: #2EFEF7; text-shadow: #2EFEF7;}
  70% {color: #2F343D; text-shadow: black;}
  80% {color: #2EFEF7; text-shadow: #2EFEF7;}
  90% {color: #2F343D; text-shadow: black;}
  100% {color: #2EFEF7; text-shadow: #2EFEF7;}
}
@keyframes h1LeftColor{
  0% {color: #2EFEF7; text-shadow: #2EFEF7;}/*하늘색*/
  15% {color: #2EFEF7; text-shadow: #2EFEF7;}
  16% {color: #2F343D; text-shadow: black;}
  17% {color: #00FF80; text-shadow: #00FF80;}/*초록색*/
  48% {color: #00FF80; text-shadow: #00FF80;}
  49% {color: #2F343D; text-shadow: black;}
  50% {color: #BF00FF; text-shadow: #BF00FF;}/*보라색*/
  82% {color: #BF00FF; text-shadow: #BF00FF;}
  83% {color: #2F343D; text-shadow: black;}
  84% {color: #2EFEF7; text-shadow: #2EFEF7;}/*하늘색*/
  100% {color: #2EFEF7; text-shadow: #2EFEF7;}
}
@keyframes h1RightIntro{
  0% {color: #2F343D; text-shadow: black;}
  50% {color: #2F343D; text-shadow: black;}
  60% {color: #F7D358; text-shadow: #F7D358;}
  70% {color: #2F343D; text-shadow: black;}
  80% {color: #F7D358; text-shadow: #F7D358;}
  90% {color: #2F343D; text-shadow:  black;}
  100% {color: #F7D358; text-shadow: #F7D358;}
}
@keyframes h1RightColor{
  0% {color: #F7D358; text-shadow: #F7D358;}/*노란색*/
  31% {color: #F7D358; text-shadow: #F7D358;}
  32% {color: #2F343D; text-shadow: black;}
  33% {color: #FA5858; text-shadow: #FA5858;}/*빨간색*/
  65% {color: #FA5858; text-shadow: #FA5858;}
  66% {color: #2F343D; text-shadow: black;}
  67% {color: #FE2EC8; text-shadow: #FE2EC8;}/*분홍색*/
  98% {color: #FE2EC8; text-shadow: #FE2EC8;}
  99% {color: #2F343D; text-shadow: black;}
  100% {color: #F7D358; text-shadow: #F7D358;}/*노란색*/
}
@keyframes spark{
  from {text-shadow: 0px 0px 3px;}
  end {text-shadow: 0px 0px 15px;}
}
#h1_left {
animation: blink 0.075s 10, h1LeftIntro 1.5s, h1LeftColor 150s 1.5s infinite, spark 5s 1.5s infinite alternate;
}
#h1_right {
animation: blink 0.075s 10, h1RightIntro 1.5s, h1RightColor 150s 1.5s infinite, spark 5s 1.5s infinite alternate;
}
.container {
  width: 80vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.headline {
  width: 100%;
  height: 50px;
  position: relative;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 0px 0px 5px white;
  margin-bottom: 10px;
}
.headline_title {
  padding-left: 70px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 30px;
  color: white;
  line-height: 50px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] ~ span {
  display: block;
  position: absolute;
  top: 25px;
  left: 20px;
  width: 25px;
  height: 3px;
  background-color: lime;
  box-shadow: 0px 0px 5px lime;
  border-radius: 30px;
  transform: translateY(-50%);
  transition: all 0.3s;
}
input[type="checkbox"] ~ span:nth-child(2) {
  transform: rotate(45deg);
}
input[type="checkbox"] ~ span:nth-child(3) {
  left: 36px;
  transform: rotate(-45deg);
}
input[type="checkbox"]:checked ~ span:nth-child(2) {
  transform: rotate(-45deg);
  background-color: red;
  box-shadow: 0px 0px 5px red;
}
input[type="checkbox"]:checked ~ span:nth-child(3) {
  left: 36px;
  transform: rotate(45deg);
  background-color: red;
  box-shadow: 0px 0px 5px red;
}
.content {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
}
.paragraph {
  color: white;
  font-family: 'NanumSquare', sans-serif;
  font-size: 20px;
  line-height: 150%;
}
